#deleteButton{
    margin-left: 7px;

    
}

#deleteButton:hover{
    transform: translateY(-5px);
    border: 1px solid rgb(231, 99, 99);
    box-shadow: 0 0 10px rgb(224, 144, 144);
}

.editButton:hover{
    transform: translateY(-5px);
    border: 1px solid gray;
    box-shadow: 0 0 10px rgb(243, 243, 243);
}

/* responsive view for the delete button */
@media screen and (max-width: 900px) {
    #deleteButton{
        display: flex;
        flex-wrap: nowrap; 
    }
    span{
        margin-left:4px;
    }
    i{
        margin-top:3px;
    }
}