<div class="container">
    <!-- Content here -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Bug Reporting System - Team 6</h1>
            <p class="lead">This is a web application implementing a bug reporting system, which displays various
                software bugs
                and information concerning them.</p>
        </div>
    </div>

    <div class="row" style="padding:0px;margin:0px;">
        <table class="table">
            <thead class="thead-dark" (click)="sort($event)">
                <tr>
                    <th id="title" scope="col">Title <i class="fa fa-sort"></i></th>
                    <th id="priority" scope="col">Priority <i class="fa fa-sort"></i></th>
                    <th id="reporter" scope="col">Reporter <i class="fa fa-sort"></i></th>
                    <th id="createdAt" scope="col">Date Created <i class="fa fa-sort"></i></th>
                    <th id="status" scope="col">Status <i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of bugsList">
                    <td>{{item.title}}</td>
                    <td>{{item.priority}}</td>
                    <td>{{item.reporter}}</td>
                    <td>{{item.createdAt}}</td>
                    <td>{{item.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>