<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container" style="padding-top:0px;padding-bottom:0px;">
            <h1 id="logoContainer" class="display-4"><img id="logo" src="../../../../assets/bug_logo.png" height="70">
                Reporting System <div class="blink">./</div>
            </h1>
            <p class="lead" style="color:rgb(179, 179, 179);">This is a web application implementing a bug reporting
                system, which displays various
                software bugs
                and information concerning them.</p>
        </div>
    </div>

    <!-- add button -->

    <button id="addButton" type="button" [routerLink]="'add'" class="btn btn-success">Add a <i id="bugIcon"
            class="fa fa-bug fa-2x"></i></button>

    <!-- Advanced search -->

    <div id="searchGroup" class="row">
        <form #searchForm="ngForm" (submit)="search()">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span id="searchBarLeft" class="input-group-text"><strong>Advanced Search:</strong></span>
                </div>
                <input [(ngModel)]="titleInput" type="text" class="form-control" placeholder="Title" name="titleInput"
                    minlength="1" ngModel>
                <select [(ngModel)]="priorityInput" type="text" class="custom-select" placeholder="Priority"
                    name="priorityInput" minlength="1" ngModel>
                    <option [ngValue]="null">Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <select [(ngModel)]="reporterInput" type="text" class="custom-select" placeholder="Reporter"
                    name="reporterInput" minlength="1">
                    <option [ngValue]="null">Select</option>
                    <option value="QA">QA</option>
                    <option value="PO">PO</option>
                    <option value="DEV">DEV</option>
                </select>
                <select [(ngModel)]="statusInput" type="text" class="custom-select" placeholder="Status"
                    name="statusInput" minlength="1">
                    <option [ngValue]="null">Select</option>
                    <option value="Ready for test">Ready for test</option>
                    <option value="Done">Done</option>
                    <option value="Rejected">Rejected</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    <button id="searchBarRight" type="button" class="btn btn-outline-success"
                        (click)="ngOnInit()">Clear</button>
                </div>
            </div>
        </form>
    </div>

    <!-- DELETE NOTIFICATION -->
    <div *ngIf="deleteNotification" class="alert alert-success alert-dismissible fade show" role="alert">
        <span>You have successfully deleted a bug.</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Bugs table-->

    <div id="bugsTable" class="table-responsive">
        <table class="table table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th id="title" scope="col" (click)="sort('title')">Title <i class="fa fa-sort"></i></th>
                    <th id="priority" scope="col" (click)="sort('priority')">Priority <i class="fa fa-sort"></i></th>
                    <th id="reporter" scope="col" (click)="sort('reporter')">Reporter <i class="fa fa-sort"></i></th>
                    <th id="createdAt" scope="col" (click)="sort('createdAt')">Date Created <i class="fa fa-sort"></i>
                    </th>
                    <th id="status" scope="col" (click)="sort('status')">Status <i class="fa fa-sort"></i></th>
                    <th> Edit / Delete</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let item of bugsList" [class.dark]="globals.mode==='dark'">
                    <td>{{item.title}}</td>
                    <td>{{item.priority}}</td>
                    <td>{{item.reporter}}</td>
                    <td>{{item.createdAt | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.status}}</td>
                    <td>    <button type="button" [routerLink]="['edit',item.id]"  class="btn btn-secondary editButton"> <i
                                class="fa fa-edit"></i> Edit</button>
                            <button id="deleteButton" class= "btn btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="setDeleteBug(item.id,item.title)" > <i id="deleteIcon" class="fa fa-trash"></i> <span id="deleteText"> Delete</span> </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Modal that appears when the user presses the delete button -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:rgb(236, 189, 79)">
                <h5 class="modal-title" id="deleteModalLabel">You are about to delete a bug</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                Are you sure you want to delete the bug with title: <b> <i>'{{deleteBugTitle}}'</i></b> ?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary editButton" data-dismiss="modal">No cancel</button>
                <button id="deleteButton" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteBugs(deleteBugId)">Yes delete it</button>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- PAGINATION -->
    <div class="pagination">
        <div class="btn-group" role="group">
            <button type="button" [disabled]="currentPage===0" class="btn btn-secondary"
                (click)="navigate('previous')">Previous</button>
            <button type="button" [disabled]="(currentPage+1).toString()==totalPages" class="btn btn-secondary"
                (click)="navigate('next')">Next</button>
        </div>
        <span style="margin:10px; color:rgb(189, 189, 189);">Page: {{currentPage +1}} / Total: {{totalPages}} </span>
    </div>

</div>